.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html{
  font-size:62.5%;
}
body{
  font-size:14px;
}
*{box-sizing: border-box;}
.form-box{
  padding: 2rem;
  text-align:center;
}
.form-box input, .ipt-wrap .ipt{
  display:block;
  width: 100%;
  height: 4rem;
  padding: .3rem 1rem;
  border-radius:3px;
  border: 1px solid #afafaf;
  -webkit-appearance: none;
  appearance: none;
}
.form-box input + input{
  margin-top: 1.5rem;
}
.form-box .form-txt{
  display:block;
  padding-top:.5rem;
  text-align:left;
  color: #555;
}
.form-box .form-info{
  padding: 1rem;
  color: #282c34;
}

.ipt-wrap{
  padding: 2rem;
}


.clr-point{
  color: tomato !important;
}

.btn-txt{
  width: 100%;
  height:4rem;
  background-color:#fff;
  border-radius:3px;
  border:0;
  font-size:1.5rem;
  font-weight:500;
}
.btn-txt.blue{background-color: cornflowerblue;color: #fff;}

.btn-small{
  width: 60px;
  height:25px;
  border: 0;
  font-weight:bold;
  border-radius:3px;
}
.btn-small.l-gray{
  background-color:#e1e1e1;
  color:#555;
}
.btn-small.blue{
  background-color:cornflowerblue;
  color:#fff;
}
